.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social>a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border:1px solid #c9cacc;
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social a:hover {
  opacity: 0.9;color: #ffc93c;
  border:1px solid #ffc93c;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

.sidebar-page-container .sidebar .sidebar-post .post-inner .post {
  position: relative;
  padding: 0px 0px 0px 75px;
  padding-bottom: 10px;
  margin-bottom: 6px;
  border-bottom: 1px solid #e5e5e5;
}

.sidebar-page-container .sidebar .sidebar-post .post-inner .post:last-child {
  border-bottom: none;
}

.sidebar-page-container .sidebar .sidebar-post .post-inner .post .post-date {
  position: absolute;
  left: 0px;
  top: 4px;
  width: 54px;
  height: 54px;
  text-align: center;
  border-radius: 5px;

}

.sidebar-page-container .sidebar .sidebar-post .post-inner .post .post-date {
  background: rgb(2, 0, 36);
  background: -moz-linear-gradient(rgba(0, 123, 255, 1) 100%);
  background: -webkit-linear-gradient(rgba(0, 123, 255, 1) 100%);
  background: linear-gradient(rgba(0, 123, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#007bff", GradientType=1);
}

.sidebar-page-container .sidebar .sidebar-post .post-inner .post .post-date p {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  margin: 0px;
}

.sidebar-page-container .sidebar .sidebar-post .post-inner .post .post-date span {
  position: relative;
  display: block;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #fff;
  margin: 0px;
  padding: 0px;
}

.sidebar-page-container .sidebar .sidebar-post .post-inner .post .file-box {
  position: relative;
  margin-bottom: 9px;
}

.sidebar-page-container .sidebar .sidebar-post .post-inner .post .file-box i {
  position: relative;
  display: inline-block;
  font-size: 14px;
  color: #666666 !important;
  margin-right: 10px;
}

.sidebar-page-container .sidebar .sidebar-post .post-inner .post .file-box p {
  position: relative;
  display: inline-block;
  margin-bottom: 0px;
}

.sidebar-page-container .sidebar .sidebar-post .post-inner .post h5 {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 0px;
  color: #1d165c;
  margin: 0px;
}

.sidebar-page-container .sidebar .sidebar-post .post-inner .post h5 a {
  display: inline-block;
  color: #1d165c;
}

.sidebar-page-container .sidebar .sidebar-post .post-inner .post h5 a:hover {
  color: #e61819;
}

.carousel-inner-data {
  margin: 0px auto;
  height: 350px;
  overflow: hidden;
}

.carousel-inner-data ul {
  list-style: none;
  position: relative;
}

.carousel-inner-data li {
  height: auto;
}

.shadow-effect {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid #ECECEC;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10), 0 15px 12px rgba(0, 0, 0, 0.02);
}

#customers-testimonials .shadow-effect p {
  font-family: inherit;
  font-size: 17px;
  line-height: 1.5;
  margin: 0 0 17px 0;
  font-weight: 300;
}

.testimonial-name {
  margin: -17px auto 0;
  display: table;
  width: auto;
  background: #3190E7;
  padding: 9px 35px;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  box-shadow: 0 9px 18px rgba(0, 0, 0, 0.12), 0 5px 7px rgba(0, 0, 0, 0.05);
}

#customers-testimonials .item {
  text-align: center;
  padding: 50px;
  margin-bottom: 80px;
  opacity: .2;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#customers-testimonials .owl-item.active.center .item {
  opacity: 1;
  -webkit-transform: scale3d(1.0, 1.0, 1);
  transform: scale3d(1.0, 1.0, 1);
}

.owl-carousel .owl-item img {
  transform-style: preserve-3d;
  max-width: 90px;
  margin: 0 auto 17px;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
  background: #3190E7;
  transform: translate3d(0px, -50%, 0px) scale(0.7);
}

#customers-testimonials.owl-carousel .owl-dots {
  display: inline-block;
  width: 100%;
  text-align: center;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
  background: #3190E7;
  display: inline-block;
  height: 20px;
  margin: 0 2px 5px;
  transform: translate3d(0px, -50%, 0px) scale(0.3);
  transform-origin: 50% 50% 0;
  transition: all 250ms ease-out 0s;
  width: 20px;
}

.testimonials {
  overflow: hidden;
  position: relative;
  max-height: 300px;
}

.testimonials {
  background: #161d25;
}

.one-slide,
.testimonial,
.message {
  border: none !important;
  outline: none !important;
}

.icon-overlay {
  position: absolute;
  opacity: 0.3;
  right: 10%;
  top: 0;
  height: auto;
  width: 100%;
  max-width: 400px;
}

.carousel-controls .control {
  position: absolute;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #fff;
  z-index: 1;
}

.prev {
  left: -2.25rem;
}

.next {
  right: -2.25rem;
}

@media screen and (max-width: 768px) {
  .testimonials {
    max-height: 700px;
  }

  .icon-overlay {
    height: 300px;
    top: calc(50% - 150px);
  }

  .carousel-controls .control {
    width: 25px;
    height: 25px;
    top: inherit;
  }

  .prev {
    left: 0;
  }

  .next {
    right: 0;
  }

  .control i {
    font-size: .7rem;
  }

  .testimonials .message {
    font-size: 1rem;
  }

  .testimonials h2 {
    font-size: 1.5rem;
  }
}